ame: Update Blog Posts

on:
  push:
  schedule:
    - cron: '0 0 * * *'  # 매일 자정에 실행

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: "BLOG-POST-LIST"
          feed_list: "https://v2.velog.io/rss/JJJJJU5"
